@import "tailwindcss";


body{
    font-family: cursive;
}
h1{
    font-family: Pacifico, cursive;
}
 .active li{
        @apply shadow-lg  shadow-orange-300 bg-[#F29724] text-white 
    }

 .active{
        background-color: black;
        color: white;
        border: none;
    }

    ::selection{
        background-color: rgb(238, 227, 213);
        color: inset;
    }
 .meal-card {
  transition: all 0.3s ease;
}

.meal-card:hover {
  transform: scale(1.05);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.meal-card:active {
  transform: scale(1.05);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.meal-img {
  transition: transform 0.7s ease-in-out;
  -webkit-transition: transform 0.7s ease-in-out;
}

.meal-card:hover .meal-img,
.meal-card:active .meal-img {
  transform: translateY(-5rem) rotate(360deg);
  -webkit-transform: translateY(-5rem) rotate(360deg);
}